
<div class='container'>
	<div class='panel panel-primary dialog-panel'>
		<div class='panel-heading'>
			<h5>Payment</h5>
		</div>
		<div class='panel-body'>
			<form class='form-horizontal' role='form'>
				<div class="form-group">

					<div ng-show="paymentCtrl.error" align="center"
						class="col-sm-offset-2 col-sm-2 alert alert-danger">{{paymentCtrl.message}}</div>

				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_title'>Card Number</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_number'
									placeholder='Card Number' ng-model="paymentCtrl.userPaymentInfo.cardNum"
									type='text' required="required">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Card Expiry</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_expiry'
									placeholder='expiry' ng-model="paymentCtrl.userPaymentInfo.cardExp"
									type='text' required="required">
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2 col-md-offset-2'
						for='id_email'>Card CVV</label>
					<div class='col-md-6'>
						<div class='form-group'>
							<div class='col-md-11'>
								<input class='form-control' id='id_cvv'
									placeholder='cvv' ng-model="paymentCtrl.userPaymentInfo.cardCvv"
									type='cvv' required="required">
							</div>
						</div>
					</div>
				</div>
				

				<div class='form-group'>
					<div class='col-md-offset-4 col-md-3'>
						<button class='btn btn-primary' ng-click="paymentCtrl.pay()"
							type='submit'>Pay</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>